
#include "/home/bobby/.themes/ocean/base16_ocean"
!include "/home/bobby/.themes/dkeg/colors"


! define termfont xft:t cherry:style=Regular:pixelsize=12:antialias=false
# define termfont xft:curie:style=Regular:pixelsize=12:antialias=false
! define termfont xft: creep:style=Regular:pixelsize=16:antialias=false
! define termfont xft: lucy tewi:style=Regular:pixelsize=11:antialias=false
! define termfont xft: artwiz lemon:style=Regular:pixelsize=10:antialias=false
! define termfont xft: benis uushi:style=Regular:pixelsize=11:antialias=false
! define termfont xft: scientifica:style=Regular:pixelsize=11:antialias=false
! define termfont xft: creep2:style=Regular:pixelsize=11:antialias=false


URxvt.font:		termfont
URxvt.boldFont:		termfont
URxvt.italicFont:	termfont
URxvt.boldItalicFont:	termfont

URxvt.letterSpace:      1      
URxvt.lineSpace:        0
URxvt.scrollBar:	false
URxvt.internalBorder:	20
